Repository evfjunior/eslint-config-omnicode: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettify

.lintstagedrc:

{
  "*.js": [
    "npm run lint",
    "npm run prettify"
  ],
  "**/*.{md,yml,json,eslintrc,prettierrc}": [
    "npm run prettify"
  ]
}

fix: stop commitlint from running twice during commits
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

chore: sort keys and values in alphabetical order
  node.js
Due: npm run lint, npm run prettify

feat: add eslint-plugin-node
  node.js
  package-lock.json
  package.json
Due: npm run lint, npm run prettify

chore: configure scripts for eslint and prettier
  .lintstagedrc
  package.json
Due: npm run prettify

fix: remove 'postinstall' and 'postpack' scripts
  package.json
Due: npm run prettify

chore: add semantic-release
  package-lock.json
  package.json
Due: npm run prettify

ci: setup ci workflow
  .github/workflows/release.yml
Due: npm run prettify
